@media(max-width: 750px){
    .magidevs{
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    .cartao-magidev{
        max-width: 300px;
    }

    .cartao-magidev .cartao-informacoes {
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .cartao-magidev .cartao-informacoes h3{
        font-size: 16px
    }

    .listagem {
        max-width: 360px;
    }

    .listagem .magidev{
        width: 45%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .listagem ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
    }

}