body {
    font-family: "Poppins", sans-serif;
    background-image: url(../imagens/sindriag.webp);
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    backdrop-filter: blur(8px);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}


.magidevs {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}


.cartao-magidev {
    display: none;
    max-width: 360px;
    border-radius: 10px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.cartao-magidev.aberto {
    display: block;
}

.cartao-magidev img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.cartao-magidev .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-magidev .nome {
    margin-bottom: 5px;
}

.cartao-magidev .tipo {
    background-color: #ffffff;
    font-size: 17px;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
}

.cartao-magidev .detalhes {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-magidev .cartao-informacoes {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 40px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-magidev .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-magidev .cartao-informacoes .descricao {
    padding: 0 10px;
    font-size: 15px;
    max-height: 150px;
    overflow-y: scroll;
}

.tipo-fogo {
    background-color: #f15000d2;
}

.tipo-rukh {
    background-color: #F8F3BC;
}

.tipo-eletrico {
    background-color: #45A8C7;
}

.tipo-dark {
    background-color: #543E7A;
}

.tipo-vida {
    background-color: #1C282F;
}

.tipo-gelo {
    background-color: #6DABD2;
}

.listagem {
    margin-left: 20px;
    max-width: 200px;
}

.listagem .magidev img {
    width: 25%;
}

.listagem .magidev {
    background-color: #6b727a;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;

    transition: 0.15;
}

.listagem .magidev:hover {
    transform: scale(1.15);
}

.listagem .magidev span {
    padding-right: 20px;
}

.listagem .magidev.ativo {
    background-color: #fa6668;
}
